@layer components {
  .container {
    --container-padding: 50px;
    --container-value  : 100vw - 32px;
    --container-content: var(--container-value);

    padding: var(--container-padding) calc(50% - ((var(--container-content)) / 2));

    @screen sm {
      --container-padding: 60px;
      --container-value  : calc(theme("screens.sm") - 35.98px);
    }

    @screen md {
      --container-padding: 70px;
      --container-value  : calc(theme("screens.md") - 47.98px);
    }

    @screen lg {
      --container-padding: 80px;
      --container-value  : calc(theme("screens.lg") - 51.98px);
    }

    @screen xl {
      --container-padding: 90px;
      --container-value  : calc(theme("screens.xl") - 135.98px);
    }

    &-distance {
      --container-distance: 1rem;

      margin-inline: var(--container-distance);

      @screen sm {
        --container-content: calc(var(--container-value) + (var(--container-distance) * 2));
      }
    }
  }
}