.scrollbar-none {
  scrollbar-width: none;
}

.fancybox {
  &-custom * {

    &,
    &::before,
    &::after {
      @apply box-border;
    }
  }

  &-custom &__content:is(&-error) {
    @apply bg-transparent text-white p-0;
  }

  &-custom &__slide.has-iframe &__content {
    @apply p-0;
  }

  &-custom &__content {
    &>.f-button.is-close-btn {
      @apply top-2 right-2 bg-white text-black rounded-full shadow-md;
    }
  }
}

.swiper {
  &-pagination {
    @apply flex items-center justify-center static gap-6;

    &-bullet {
      @apply bg-current rounded-full size-2 !m-0 transition;
    }
  }

  &-button {

    &-prev,
    &-next {
      &::after {
        @apply hidden;
      }

      svg {
        width    : 1em;
        min-width: 1em;
        height   : 1em;

        @apply block object-none;
      }
    }
  }
}

.description {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal text-lg;

    @screen sm {
      @apply text-xl;
    }
  }

  ul {
    @apply list-outside list-disc pl-4;
  }
}

.commission {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold uppercase text-lg;

    @screen sm {
      @apply text-1.5xl;
    }
  }

  ul {
    @apply list-outside list-disc pl-4;
  }
}