@layer components {
  @keyframes progress {
    to {
      rotate: 360deg;
    }
  }

  @keyframes loader {
    0% {
      stroke: {
        dasharray : 1px, 200px;
        dashoffset: 0;
      }
    }

    50% {
      stroke: {
        dasharray : 100px, 200px;
        dashoffset: -15px;
      }
    }

    100% {
      stroke: {
        dasharray : 100px, 200px;
        dashoffset: -125px;
      }
    }
  }

  @keyframes preloader {
    0% {
      top      : -4rem;
      opacity  : 0;
      transform: rotateX(-90deg);
    }

    10%,
    90% {
      opacity: 0.5;
    }

    20%,
    80% {
      top      : 0;
      opacity  : 1;
      transform: rotateX(-360deg);
    }

    100% {
      top    : 4rem;
      opacity: 0;
    }
  }

  .loader {
    @apply flex items-center justify-center absolute inset-0 text-primary text-4xl pointer-events-none;

    &-progress {
      animation: progress 1800ms linear infinite;
    }

    &-icon {
      animation: loader 1500ms ease-in-out infinite;
    }
  }

  .preloader {
    @apply flex items-center justify-center gap-1;

    &-letter {
      animation: preloader 1200ms ease-in-out infinite both var(--delay);

      &:nth-child(1) {
        --delay: 1200ms;
      }

      &:nth-child(2) {
        --delay: 1300ms;
      }

      &:nth-child(3) {
        --delay: 1400ms;
      }

      &:nth-child(4) {
        --delay: 1500ms;
      }

      &:nth-child(5) {
        --delay: 1600ms;
      }

      &:nth-child(6) {
        --delay: 1700ms;
      }

      &:nth-child(7) {
        --delay: 1800ms;
      }

      @apply relative font-medium uppercase text-primary text-2xl;
    }
  }
}