@use "./ui-kit/fonts";
@use "./ui-kit/basic";
@use "./ui-kit/waved";
@use "./ui-kit/container";
@use "./ui-kit/card";
@use "./ui-kit/load";
@use "./ui-kit/image";
@use "./ui-kit/icon";
@use "./ui-kit/switch";
@use "./ui-kit/custom";
@tailwind base;
@tailwind components;
@tailwind utilities;